
<template>
      <div class="gallery">
        <img v-img:my-group src="../assets/IMG_20211017_162910.png">
        <img v-img:my-group src="../assets/IMG_20221007_123402.png">
        <img v-img:my-group src="../assets/IMG_20221015_102345.png">
        <img v-img:my-group src="../assets/1333.png">
        <img v-img:my-group src="../assets/IMG_20221117_123252.png">
        <img v-img:my-group src="../assets/IMG_20221120_131547.png">
      </div>
</template>


<style lang="scss" scoped>
.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 7px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  img {
    width: 100% !important;
  }
}
</style>
  